<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Machinery Dashboard</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,500,900" rel="stylesheet">
    <link rel="stylesheet" href="<%= static_path(@conn, "#{@mount_path}/css/app.css") %>">
  </head>

  <body>
    <div class="container-fluid">
      <div class="row">
        <nav class="navbar navbar-expand-md fixed-top topbar">
          <h1 class="site-title"><%= link("Machinery", to: resource_path(@conn, :index))%></h1>
          <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#collapsibleNavbar" aria-expanded="false">
            <span class="oi oi-menu" title="menu" aria-hidden="true"></span>
          </button>
          <div class='navbar-collapse collapse' id="collapsibleNavbar">
            <ul class="nav nav-pills flex-column">
              <li class="nav-item">
                <%= link("Overview", to: resource_path(@conn, :index), class: "nav-link active") %>
              </li>
            </ul>
          </div>
        </nav>
        <nav class="col-sm-2 col-md-2 d-none d-sm-block sidebar">
          <h1 class="site-title"><%= link("Machinery", to: resource_path(@conn, :index))%></h1>
          <ul class="nav nav-pills flex-column">
            <li class="nav-item">
              <%= link("Overview", to: resource_path(@conn, :index), class: "nav-link active") %>
            </li>
          </ul>
        </nav>
        <main role="main" class="main col-sm-9 ml-sm-auto col-md-10 pt-3">
          <%= render @view_module, @view_template, assigns %>
        </main>
       </div>
      </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script src="<%= static_path(@conn, "#{@mount_path}/js/app.js") %>"></script>
  </body>
</html>
